name: Test

on:
    pull_request:
        branches:
            - master

jobs:
    run-test:

        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: 12.x
            - run: npm install -g zapier-platform-cli
            - run: npm install
            - run: zapier validate --without-style
            - run: npm run lint
            - run: npm run test
              env:
                  TEST_USER_TOKEN: ${{ secrets.APIFY_TEST_USER_TOKEN }}
